<div class="content">
  {{#each messages}}
    <a name="{{this.id}}" />
    <div class="{{this.role}} convo">
      {{{this.message}}}
    </div>
  {{/each}}
</div>

<div class="input">
  <form action="http://localhost:3000/{{convo.dataValues.id}}" method="POST">
    <input name="q" type="text" />
    <button type="submit">Send</button>
  </form>
</div>